[submodule "themes/hugo-fresh"]
	path = themes/hugo-fresh
	url = https://github.com/StefMa/hugo-fresh
[submodule "themes/cayman-hugo-theme"]
	path = themes/cayman-hugo-theme
	url = https://github.com/zwbetz-gh/cayman-hugo-theme.git
